# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
deps

# Files from Forge MDK
forge*changelog.txt
/CREDITS.txt
/LICENSE.txt
/LICENSE-Paulscode SoundSystem CodecIBXM.txt
/LICENSE-Paulscode IBXM Library.txt
/log.txt
/README.txt
